@model BusSytem.Services.Implements.PageList<BusSystem.Model.Schedule.ScheduleViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
    ViewData["message"] = TempData["message"] ?? "";

}
<style>
    .select2-container {
        width: 100% !important;
    }

    html {
        overflow-x: hidden;
    }
</style>
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="card mb-4">
            <div class="card-header"><strong>Create New</strong></div>
            <div class="card-body">
                <form class="row g-3" id="form_schedule">
                    <div class="col-md-12">
                        <label class="form-label" for="From">From</label>
                        <br />
                        <select class="js-from-create" name="From">
                        </select>
                        <span class="text-danger error-From"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="To">To</label>
                        <br />
                        <select class="js-to-create" name="To">
                        </select>
                        <span class="text-danger error-To"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="inputState">Status</label>
                        <select class="form-select form-select-sm" id="inputState" name="Status">
                            <option selected value="0">Active</option>
                            <option value="1">InActive</option>
                        </select>
                        <span class="text-danger error-Status"></span>

                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="button" data-click="createSch">Create</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header"><strong>List Schedules</strong></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Count</th>
                                <th scope="col">Status</th>
                                <th scope="col" style="min-width: 150px">Created At</th>
                                <th scope="col" style="min-width: 250px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">#</th>
                                    <td>@item.From</td>
                                    <td>@item.To</td>
                                    <td>@item.CountTime</td>
                                    <td>
                                        @{
                                            var status = item.Status == 0 ? "Active" : "InActive";
                                            var className = item.Status == 0 ? "badge bg-success" : "badge bg-danger";
                                        }
                                        <span class="@className">@status</span>
                                    </td>
                                    <td>@item.CreatedDate</td>

                                    <td>
                                        <a class="btn btn-success btn-sm text-white" target="_blank" asp-route="admin.schedule.time" asp-route-id="@item.Id" >Time Schedule</a>
                                        <button class="btn btn-warning btn-sm text-white" data-click="modalEdit" data-id="@item.Id" type="button">Edit</button>
                                        <button class="btn btn-danger btn-sm text-white" data-click="deleteBus" data-id="@item.Id" type="button">Delete</button>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    @{
                            var preDisabled = !Model.PreviousPage ? "disabled" : "";
                            var nextDisbled = !Model.NextPage ? "disabled" : "";
                        }
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item @preDisabled">
                                    <a class="page-link" asp-route="admin.schedule" asp-route-page="@(Model.PageIndex - 1)" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item @nextDisbled">
                                    <a class="page-link" asp-route="admin.schedule" asp-route-page="@(Model.PageIndex + 1)">Next</a>
                                </li>
                            </ul>
                        </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal*@

<div class="modal fade" id="modal_editSchedule" data-coreui-backdrop="static" data-coreui-keyboard="false"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Schedule</h5>
                <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" id="form_update">
                    <div class="col-md-12">
                        <label class="form-label" for="From">From</label>
                        <br />
                        <select class="js-from-modal" name="From">
                           
                        </select>
                        <span class="text-danger error-From"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="To">To</label>
                        <br />
                        <select class="js-to-modal" name="To">
                        </select>
                        <span class="text-danger error-To"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="inputState">Status</label>
                        <select class="form-select form-select-sm" id="inputState" name="Status">
                            <option selected value="0">Active</option>
                            <option value="1">InActive</option>
                        </select>
                        <span class="text-danger error-Status"></span>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_update" data-click="updateSchedule">Save</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/admin/js/pages/schedule.js"></script>
}